<div id="print-view">
<div class="row">
  <h1>
    <span id="replaced">My Donations 
    </span>
  </h1>
</div>

<hr>

<div>
  <mat-table #table [dataSource]="dataSource" matSort>
    <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>

    <ng-container matColumnDef="DonationUtc">
      <mat-header-cell *matHeaderCellDef mat-sort-header (start)="desc"> Date of Donation </mat-header-cell>
      <mat-cell *matCellDef="let card"> {{card.DonationUtc | date:'longDate'}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="CompanyName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Gift Card </mat-header-cell>
      <mat-cell *matCellDef="let card"> {{card.CompanyName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Amount">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Amount </mat-header-cell>
      <mat-cell *matCellDef="let card"> {{card.Amount | currency }} </mat-cell>
    </ng-container>
  </mat-table>
  <app-total-donations class="totaldonations" id="total"></app-total-donations>
  <hr>
  <button mat-raised-button class="nav-btn" id="print" color="accent" (click)="print()">Print</button>
  <button mat-raised-button class="nav-btn" color="accent" routerLink="/user">Back</button>
</div>
<div class="back">

