.footer {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: 35px;
    font-size: 18px;
}

.footer-color {
    height: 50px;
    background-color: #00897b;
}

.example-fill-remaining-space {
    flex: 1 1 auto;
}