<mat-toolbar color="primary">
  <span> <i class="fas fa-gift"></i>GiftHub</span>
  <span class="example-fill-remaining-space"></span>
  <div *ngIf="isLoggedIn; else auth">
    <span>Welcome {{username}}</span>
    <button mat-raised-button class="nav-btn" (click)="onLoggout()">Logout</button>
  </div>
  <ng-template #auth>
    <button mat-raised-button class="nav-btn" routerLink="/register" >Register</button>
    <button mat-raised-button class="nav-btn" routerLink="/login" >Login</button>
    <!-- <button mat-raised-button class="nav-btn" routerLink="/logout" >Logout</button> -->
  </ng-template>
</mat-toolbar>
