.example-fill-remaining-space {
    flex: 1 1 auto;
}

.nav-btn {
    margin-right: 0.5em;
}

.title {
    font-family: 'Oleo Script', cursive;
    font-size: 2.5em;
    color: #ffffff;
}

#giftbox {
    color: #bbdefb;
    }

.header-box {
    box-shadow: 1px 2px 2px 1px #888888;
}