<mat-toolbar class="header-box" color="primary">
  <span class="title"> <i id="giftbox" class="fas fa-gift"></i> GiftHub</span>
  <span class="example-fill-remaining-space"></span>
  <div *ngIf="isLoggedIn; else auth">
    <span>Welcome, {{username}}!</span>
    <button mat-raised-button class="nav-btn" color="accent" (click)="onLoggout()">Logout</button>
  </div>
  <ng-template #auth>
    <button mat-raised-button class="nav-btn" color="accent" routerLink="/register" >Register</button>
    <button mat-raised-button class="nav-btn" color="accent" routerLink="/login" >Login</button>
    <!-- <button mat-raised-button class="nav-btn" routerLink="/logout" >Logout</button> -->
  </ng-template>
</mat-toolbar>
