<div class="container">
    <app-add-company-form class="company"></app-add-company-form>
    <span class="example-fill-remaining-space"></span>
    <app-pie-chart class="chart"></app-pie-chart>
</div>
