.wrapper {
    margin: 2em 2em;
}

.container {
    display: flex;
    flex-direction: row;
    width: auto;
}

.company {
    width: 25%;
}

.chart {
    width: 50%;
}

.example-fill-remaining-space {
    flex: 1 1 auto;
}

.expirations {
    width: 25%;
}