<div class="wrapper">
    <!-- <button mat-raised-button class="nav-btn" color="accent" routerLink="/user" >User Home</button> -->
    <button mat-raised-button class="nav-btn" color="accent" routerLink="/manage" >Manage Users</button>
    <div class="container">
        <app-add-company-form class="company"></app-add-company-form>
        <span class="example-fill-remaining-space"></span>
        <app-pie-chart class="chart"></app-pie-chart>
    </div>
    <div class="container">
        <app-expirations class="expirations"></app-expirations>
    </div>
</div>
