.container {
    display: flex;
    flex-direction: row;
    width: auto;    
}

.card {
    width: 25%;
    box-shadow: 3px 3px 5px 1px #888888;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;   
}

.list {
    width: 60%;  
}



.example-fill-remaining-space {
    flex: 1 1 auto;
}