img {
    max-width: 85%;
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: .5em;
    box-shadow: 3px 3px 5px 1px #888888; 
    cursor: pointer;
}

.top-left-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Oleo Script', cursive;
    font-size: 8em;
    text-shadow: 3px 3px 4px #000000;
    cursor: pointer; 
}

.landing-image {
    position: relative;
}
