<div class="container">
    <app-image></app-image>
</div>
<div class="info">
    <p>Donate leftover giftcard balances</p>
</div>
<div class="about">
    <p>Do you have old giftcards laying around? Sandfish quillback sablefish; scythe butterfish pleco, collared dogfish.  
      Thresher shark stonecat tang scabbard fish slender mola Australian lungfish. Blue whiting, European perch cookie-cutter 
      shark shrimpfish pompano Kafue pike cepalin drum southern grayling, "electric ray," gunnel zebra pleco. Sand goby 
      barramundi rockfish, "yellowtail amberjack, blue whiting New World rivuline lungfish, splitfin clown loach." Coffinfish 
      Oriental loach smelt gulf menhaden livebearer pufferfish dogteeth tetra collared dogfish john dory false cat shark. 
      Flagtail round stingray luminous hake bass frogfish tilefish Death Valley</p>
      <p>Do you have old giftcards laying around? Sandfish quillback sablefish; scythe butterfish pleco, collared dogfish.  
            Thresher shark stonecat tang scabbard fish slender mola Australian lungfish. Blue whiting, European perch cookie-cutter 
            shark shrimpfish pompano Kafue pike cepalin drum southern grayling, "electric ray," gunnel zebra pleco. Sand goby 
            barramundi rockfish, "yellowtail amberjack, blue whiting New World rivuline lungfish, splitfin clown loach." Coffinfish 
            Oriental loach smelt gulf menhaden livebearer pufferfish dogteeth tetra collared dogfish john dory false cat shark. 
            Flagtail round stingray luminous hake bass frogfish tilefish Death Valley</p>
            <p>Do you have old giftcards laying around? Sandfish quillback sablefish; scythe butterfish pleco, collared dogfish.  
                    Thresher shark stonecat tang scabbard fish slender mola Australian lungfish. Blue whiting, European perch cookie-cutter 
                    shark shrimpfish pompano Kafue pike cepalin drum southern grayling, "electric ray," gunnel zebra pleco. Sand goby 
                    barramundi rockfish, "yellowtail amberjack, blue whiting New World rivuline lungfish, splitfin clown loach." Coffinfish 
                    Oriental loach smelt gulf menhaden livebearer pufferfish dogteeth tetra collared dogfish john dory false cat shark. 
                    Flagtail round stingray luminous hake bass frogfish tilefish Death Valley</p>
</div>
