<h1>My Donations</h1>
<hr>

<div>
  <mat-table #table [dataSource]="dataSource">
    <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>

    <ng-container matColumnDef="details">
      <mat-header-cell *matHeaderCellDef class="matColumnSize"></mat-header-cell>
      <mat-cell *matCellDef="let card">
          <i class="material-icons">library_books</i>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="CompanyName">
      <mat-header-cell *matHeaderCellDef> Gift Card </mat-header-cell>
      <mat-cell *matCellDef="let card"> {{card.CompanyName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Amount">
      <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
      <mat-cell *matCellDef="let card"> ${{card.Amount}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="DonationUtc">
      <mat-header-cell *matHeaderCellDef> Date of Donation </mat-header-cell>
      <mat-cell *matCellDef="let card"> {{card.DonationUtc | date:'fullDate'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="buttons">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let card">
        <i mat-icon class="material-icons orange" color="warn" routerLink="/card/edit/{{card.CardId}}">edit</i>
        <i class="material-icons red" routerLink="/card/delete/{{card.CardId}}">delete</i>
      </mat-cell>
    </ng-container>
  </mat-table>
  <mat-paginator #paginator
                 [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 20]">
  </mat-paginator>
</div>
<a class="print" mat-raised-button color="accent" routerLink="/card">Print View</a>
