<h1>Make A Donation</h1>
<hr>

<form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="cardForm">
  <div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Company Name" formControlName="CompanyName" type="CompanyName" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="CardNumber" formControlName="CardNumber" type="CardNumber" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Access Number" formControlName="AccessNumber" type="AccessNumber" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input matInput placeholder="Expiration" formControlName="ExpirationDate" type="ExpirationDate" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input matInput placeholder="Amount" formControlName="Amount" type="Amount" required/>
      </mat-form-field>
    </div>
  </div>
  <button mat-raised-button class="nav-btn" color="primary" type="submit">Make Donation</button>
</form>
