/* You can add global styles to this file, and also import other style files */
/* @import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css"; */


body,html{
    margin: 15;
    padding: 0;
    font-family: 'Lato', sans-serif;    
}


