@import '~@angular/material/theming';
@include mat-core();

$gifthub-primary:    mat-palette($mat-purple, 500);
$gifthub-accent:     mat-palette($mat-blue, 100, 900, A100);
$gifthub-warn:       mat-palette($mat-deep-orange);

$gifthub-theme: mat-light-theme($gifthub-primary, $gifthub-accent, $gifthub-warn);

@include angular-material-theme($gifthub-theme);

